
h1{
    text-shadow: 1px 4px #2b2b2b;
}

.ranking-card {
    max-width: 600px;
    width: 100%;
    border: 1px solid #d89f5a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.table-ranking {
    margin-bottom: 0;
    background-color: #2b2b2b;
}

.table-ranking th {
    background-color: #2b2b2b !important;
    color: #fff !important;
    border-bottom: 2px solid #333;
    font-weight: bold;
}

.table-ranking td {
    background-color: #2b2b2b !important;
    vertical-align: middle;
    border-bottom: 1px solid #333; /* Separador sutil entre filas */
}

/* Efecto hover adaptado al fondo oscuro */
.table-ranking tbody tr:hover td {
    background-color: #2c2d2d !important;
}

/* Posiciones del Podio */
.pos {
    font-weight: bold;
    font-size: 1.1em;
    width: 50px;
}
tbody tr:nth-child(1) .pos { color: #f1c40f; } /* Oro */
tbody tr:nth-child(2) .pos { color: #95a5a6; } /* Plata */
tbody tr:nth-child(3) .pos { color: #d35400; } /* Bronce */

/* Avatar */
.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-color: #e0e0e0;
}

/* Enlaces de usuario */
.table-ranking a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.table-ranking a:hover {
    color: #d89f5a;
}

.score {
    font-weight: bold;
    color: #C1E1C1 !important;
}
.boton-backto{
    border-color: #FF9232;
    color:#FF9232;
}
