body {
    margin: 0;
    background-color: #1e1e1e;
}

.quiz-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.quiz-container form {
    position: relative;
    width: 100%;
    max-width: 950px;
    border: 3px solid white;
    box-shadow: 0 0 15px white;
    border-radius: 15px;
    padding: 70px;
}
.pregunta {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.opciones {
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
}
.opcion-btn {
    padding: 15px;
    font-size: 18px;
    background-color: white;
}
.opcion-btn:hover {
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #2b2a2a;
}
.btn-reportar{
    background-color:#ff9232;
    border: 1px solid #2b2a2a;
    position: absolute;
    top: 15px;
    right: 15px;
}
.btn-reportar:hover{
    background-color:#ff9232;
    border: 1px solid #2b2a2a;
    box-shadow: 0 0 5px white;
}
