{{>header}}



<div class="container-fluid lobby-container">

    <div class="row">

        <!-- SIDEBAR -->

        <aside class="col-lg-2 sidebar">

            <div class="d-flex flex-column gap-3 px-3">

                <a href="/partida/crearPartida" class="btn lobby-btn">
                    Crear partida
                </a>

                <a href="/pregunta/irACrearPregunta" class="btn lobby-btn">
                    Crear pregunta
                </a>

                <a href="/ranking/irAlRanking" class="btn lobby-btn">
                    Ver ranking
                </a>
                <a href="/usuario/verPerfil" class="btn lobby-btn">
                    Ver perfil
                </a>

            </div>

        </aside>

        <!-- CONTENIDO -->

        <main class="col-lg-10 p-4">

            <div class="row g-4">

                <!-- PERFIL -->

                <div class="col-lg-8">

                    <div class="panel profile-panel">

                        <div class="profile-content">

                            <img
                                src="{{fotoPerfil}}"
                                class="perfil-foto"
                                alt="perfil">

                            <div>

                                <div class="profile-name">
                                    {{nombreUsuario}}
                                </div>

                                <div class="profile-score">

                                    <small>Puntaje total</small>

                                    <strong>
                                        {{puntaje}}
                                    </strong>

                                </div>

                                <div class="profile-stats">

                                    <div class="stat-box">

                                        
                                        <i class="bi bi-bar-chart-fill"></i>

                                        <div>

                                            <small>Ranking</small>

                                            <strong>{{ranking}}</strong>

                                        </div>

                                    </div>

                                    <div class="stat-box">

                                        <i class="bi bi-plus-square-fill icono-plus"></i>

                                        <div>

                                            <small>Trampitas</small>

                                            <strong>0</strong>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- HISTORIAL -->

                <div class="col-lg-4">
                      <h2 class="panel-title">
                            Partidas jugadas
                        </h2>
                    <div class="panel history-panel profile-panel-partidas-realizadas">

                        {{#historial}}

                        <div class="match-card ">

                            <div class="player-info">

                                <div class="player-avatar">

                                    <img
                                          src="{{foto_oponente}}"
                                          alt="Avatar del {{oponente}}">

                                </div>


                                <span>
                                    {{oponente}}
                                </span>

                            </div>

                            <div>

                                {{resultado}}

                                {{#gano}}
                                    <i class="bi bi-trophy-fill icono-ranking"></i>
                                {{/gano}}

                                {{#perdio}}
                                    <span class="result-lose">✖</span>
                                {{/perdio}}

                            </div>

                        </div>

                        {{/historial}}

                        {{^historial}}

                        <p class="empty-text">
                            No hay partidas jugadas.
                        </p>

                        {{/historial}}

                    </div>

                </div>

            </div>

        </main>

    </div>

</div>



{{>footer}}