{{>header}}
<body>
<div class="quiz-container container-fluid px-3">
    {{^tiempo_expirado}}
        <form id="form-pregunta" action="/partida/verificarRespuesta" method="POST" style="background-color:{{color}};" class="w-100">
            <div id="timer-container" style="font-size: 24px; font-weight: bold; color: red;">
             <span id="contador">{{#ya_respondio}}0{{/ya_respondio}}{{^ya_respondio}}{{tiempo_restante}}{{/ya_respondio}}</span>s
            </div>


            <button type="button" id="btn-usar-trampita" class="btn-trampita-bomba"
                    title="Usar Trampita (Te quedan: {{trampitas}})"
                    {{#ya_respondio}}style="display: none;"{{/ya_respondio}}>
                <i class="bi-star-fill"></i>
                <span id="contador-trampitas" class="badge-trampitas-cantidad">{{trampitas}}</span>
            </button>

            <button type="button" class="btn btn-reportar" data-bs-toggle="modal" data-bs-target="#modalReporte" data-id="{{id}}"  title="Reportar pregunta">
                <i class="bi-exclamation-triangle"></i>
            </button>
            <h2 class="pregunta mt-4">{{contenido}}</h2>

            <input type="hidden" name="id_pregunta" value="{{id}}">

            <div class="d-grid gap-3 opciones" id="contenedor-opciones">
                {{#opciones}}
                    <div class="d-flex flex-column align-items-start w-100">
                        <button type="submit"
                                name="opcion_elegida"
                                value="{{id}}"
                                data-correcta="{{#opcion_correcta}}true{{/opcion_correcta}}{{^opcion_correcta}}false{{/opcion_correcta}}"
                                class="btn btn-lg opcion-btn w-100
                            {{#ya_respondio}}
                                    {{#opcion_correcta}}btn-correcta{{/opcion_correcta}}
                                    {{#es_incorrecta}}btn-incorrecta{{/es_incorrecta}}
                                {{/ya_respondio}}"
                                {{#ya_respondio}}disabled{{/ya_respondio}}>
                            {{contenido}}
                        </button>

                        {{#ya_respondio}}
                            {{#opcion_correcta}}
                                <span class="badge badge-correcta mt-1 ms-0">¡Correcta!</span>
                            {{/opcion_correcta}}
                            {{#es_incorrecta}}
                                <span class="badge badge-incorrecta mt-1 ms-0">¡Incorrecta!</span>
                            {{/es_incorrecta}}
                        {{/ya_respondio}}
                    </div>
                {{/opciones}}
            </div>

            {{#ya_respondio}}
                {{#opciones}}
                    {{#es_elegida}}
                        {{#opcion_correcta}}
                            <div style="margin-top: 20px;" class="text-center">
                                <a href="/partida/jugar">
                                    <button type="button" class="btn-continuarPartida" style="padding: 10px 20px; font-weight: bold;">Siguiente pregunta</button>
                                </a>
                            </div>
                        {{/opcion_correcta}}
                    {{/es_elegida}}
                {{/opciones}}

                {{#opciones}}
                    {{#es_incorrecta}}
                        <div class="alert alert-danger" style="margin-top: 15px;">¡Respuesta Incorrecta! Juego Terminado.</div>
                        <p class="text-center">Tu puntaje final fue: <strong>{{puntaje}}</strong></p>
                        <div class="text-center">
                            <a href="/lobby/irAlLobby">
                                <button type="button" class="btn-continuarPartida" style="padding: 10px 20px; font-weight: bold;">Volver al Lobby</button>
                            </a>
                        </div>
                    {{/es_incorrecta}}
                {{/opciones}}
            {{/ya_respondio}}
        </form>
    {{/tiempo_expirado}}

    {{#tiempo_expirado}}
        <div class="alert alert-danger w-100" style="max-width: 950px; margin-top: 15px; text-align: center;">
            <h2>¡Se te acabó el tiempo!</h2>
            <p>Juego Terminado.</p>
            <p>Tu puntaje final fue: <strong>{{puntaje}}</strong></p>
            <a href="/lobby/irAlLobby" class="btn btn-primary">Volver al Lobby</a>
        </div>
    {{/tiempo_expirado}}
</div>
<form id="form-tiempo-expirado" action="/partida/tiempoExpirado" method="POST" style="display:none;"></form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/partida/partida.js"></script>
<script src="../assets/js/partida/trampita-funcionabilidad.js"></script>

<div class="modal fade" id="modalReporte" tabindex="-1" aria-labelledby="modalReporteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered px-2">
        <div class="modal-content modal-custom-dark">

            <div class="modal-header border-bottom-custom">
                <h5 class="modal-title" id="modalReporteLabel">Reportar Pregunta</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/pregunta/reportarPregunta" method="POST">
                <div class="modal-body">
                    <p class="modal-instruction-text">¿Por qué querés reportar esta pregunta?</p>

                    <input type="hidden" name="id_pregunta" id="reportar-id-pregunta" value="">

                    <textarea class="form-control custom-textarea" name="motivo" rows="4" placeholder="Motivo del reporte (ej: está mal formulada, tiene faltas de ortografía...)" required></textarea>
                </div>

                <div class="modal-footer border-top-custom">
                    <button type="button" class="btn btn-secondary-custom" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-action-report">Enviar Reporte</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    document.getElementById('modalReporte').addEventListener('show.bs.modal', function(event){
        var button = event.relatedTarget;
        var idPregunta = button.getAttribute('data-id');
        var modalInputId = document.getElementById('reportar-id-pregunta');
        modalInputId.value= idPregunta;
    } );
</script>
</body>
</html>