{{>header}}
<div class="perfil-container">

    <!-- HEADER PERFIL -->
    <section class="perfil-header">
        <img src="{{foto_perfil}}" alt="Foto de perfil" class="perfil-foto"
             >
        <div class="perfil-info">
            <h2 class="perfil-nombre">{{nombre_completo}} ({{nombre_usuario}})</h2>
            <p class="perfil-puntaje">Puntaje: {{puntaje}}</p>
            
        </div>
        <div class="qr-box">
         <h4 class="mt-4 mb-3">Mi QR</h4>
         <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http%3A%2F%2Flocalhost%2FPregunta2_PW2%2Findex.php%3Fcontroller%3Dusuario%26method%3DverPerfil%26id%3D{{id}}" 
       alt="QR de mi perfil">
            {{#esPropio}}
                <button id="compartirQR" class="btn btn-principal mt-3">Compartir mi QR</button>
             {{/esPropio}}
       </div>
       
    </section>

    <!-- DATOS PERSONALES -->
    <section class="perfil-datos">
        <h3 class="panel-title">Datos personales</h3>
        <ul>
            <li>Año de nacimiento: {{anio_nacimiento}}</li>
            <li>Sexo: {{sexo}}</li>
            <li>Email: {{email}}</li>
            
        </ul>
        <div class="map-box">
            <!-- Mapa embebido con dirección -->
            <iframe 
                src="https://maps.google.com/maps?q={{latitud}},{{longitud}}&z=15&output=embed"
                width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </section>


    <!-- PARTIDAS -->
<section class="perfil-partidas">
    <h3 class="panel-title">Partidas realizadas</h3>
    <div class="matches-list profile-panel-partidas-realizadas">

        {{#historial}}
        <div class="match-card">

            <div class="player-info">
                <div class="player-avatar">
                    <img src="{{foto_oponente}}" alt="Avatar de {{oponente}}" 
                     onerror="this.src='/assets/imgPerfiles/default-user.png'">>
                </div>
                <span>{{oponente}}</span>
            </div>

            <div class="resultado">
                {{resultado}}

                {{#gano}}
                    <i class="bi bi-trophy-fill icono-ranking"></i>
                {{/gano}}

                {{#perdio}}
                    <span class="result-lose">✖</span>
                {{/perdio}}
            </div>

        </div>
        {{/historial}}

        {{^historial}}
        <p class="empty-text">No hay partidas jugadas.</p>
        {{/historial}}

    </div>
</section>


 
   <div class="text-center mt-3">
    <a href="{{logoHref}}" class="link-white" text-decoration-none">← Volver al inicio</a>
    {{#esPropio}}
    <a href="/Pregunta2_PW2/index.php?controller=usuario&method=editarPerfil"
       class="btn btn-principal">
        Editar datos
    </a>
    {{/esPropio}}

    </div>
    

</div>

<script src="/assets/js/qr-share.js"></script>
<script>
  initQrShare({{id}});
</script>


{{>footer}}
